resources:
- new-qm.yaml
- config-map/new-queue-cm.yaml
- config-map/test-queue1-cm.yaml
- config-map/test-queue2-cm.yaml
- config-map/test-queue3-cm.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- path: patches/new-queue-patch.yaml
  target:
    kind: QueueManager
    name: new-qm
- path: patches/test-queue2-patch.yaml
  target:
    kind: QueueManager
    name: new-qm
- path: patches/test-queue1-patch.yaml
  target:
    kind: QueueManager
    name: new-qm
- path: patches/test-queue3-patch.yaml
  target:
    kind: QueueManager
    name: new-qm
